bin/
obj/
build/
build-*/
build.bat
build.bat.meta
publishReinterop.bat
publishReinterop.bat.meta
Plugins/
Plugins.meta
CesiumForUnityNativeBindings/native/
.vs/
*.user
Reinterop.dll
Reinterop.deps.json
Reinterop.deps.json.meta
Reinterop.pdb
Reinterop.pdb.meta
CesiumForUnityNative-*.dll
CesiumForUnityNative-*.dll.meta
libCesiumForUnityNative-*.so
libCesiumForUnityNative-*.so.meta
libCesiumForUnityNative-*.dylib
libCesiumForUnityNative-*.dylib.meta
