[submodule "extern/cesium-native"]
	path = Assets/native~/extern/cesium-native
	url = git@github.com:CesiumGS/cesium-native.git
[submodule "Assets/native~/extern/tidy-html5"]
	path = Assets/native~/extern/tidy-html5
	url = https://github.com/htacg/tidy-html5.git
