# This directory is a Unity package, not an npm one! So why is there a .npmrc file?
#
# This .npmrc file exists to prevent accidental installation of this package's
# dependencies with npm. This is important because attempting to install Unity
# dependencies from npm could lead to a very serious dependency confusion attack.
# The registry specified here is not important - a totally invalid hostname would do -
# but it's important that it is something that a third party cannot control. Also,
# it is ideally a valid hostname because otherwise npm will spend a long time
# retrying an invalid one before finally giving up. So we use our actual Unity
# package registry URL, even though this will not actually work for installing
# the dependencies of this package.
registry=https://unity.pkg.cesium.com/
